<mat-toolbar>
  <h1 class="app-title">Tuture</h1>
  <button routerLink="/" routerLinkActive="active" mat-stroked-button>Home</button>
  <button routerLink="/locations" routerLinkActive="active" mat-stroked-button>Locations</button>
  <button routerLink="/contact" routerLinkActive="active" mat-stroked-button>Contact</button>
  <span class="example-spacer"></span>
  <button routerLink="/mon-compte" routerLinkActive="active" mat-stroked-button>Mon compte</button>
</mat-toolbar>

<router-outlet></router-outlet>