<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            Bienvenue sur la page de TuturProject
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="2">
        <img src="assets/PhotoPageAccueil.jpg">
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        Ce site de vente de tuture est fait pour vous. En réservant un véhicule, vous rentrez dans le rêve le plus inoubliable de tous ce que vous pouvez imaginer.
    </mat-grid-tile>
</mat-grid-list>